.popup__close {
  background: transparent;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../../images/Close-Icon.svg);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  .popup__close:focus {
    outline: none;
  }

  @media screen and (max-width: 535px){
    .popup__close {
      right: 0;
      top: -35px;
      width: 20px;
      height: 20px;
    }
  }