.popup__close {
  position: relative;
  /* top: 210px;
  right: 395px; */
  bottom: 330px;
  left: 340px;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../../images/Close-Icon.svg);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .popup__close:hover, .popup__close:focus {
  fill: var(--accent-color);
  }

  @media screen and (max-width: 535px){
    .popup__close {
      bottom: 312px;
      left: 230px;
      width: 20px;
      height: 20px;
    }
  }