.profile__info {
  color: #FFFFFF;
  /* display: grid;
  align-items: center;
  grid-template-columns: 1fr 267px; */
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

@media screen and (max-width: 820px) {
  .profile__info {
    padding-left: 19px;
    padding-right: 19px;
  }
}
  
@media screen and (max-width: 320px) {
  .profile__info {
    margin: 22.25px 19px 29px;  }
}