.profile__info {
  color: #FFFFFF;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 267px;
  padding-left: 30px;
  width: 100%;
  row-gap: 7px;
}

@media screen and (max-width: 320px) {
  .profile__info {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
