.profile__info {
  color: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

@media screen and (max-width: 820px) {
  .profile__info {
    padding-left: 19px;
    padding-right: 19px;
  }
}
  
@media screen and (max-width: 320px) {
  .profile__info {
    margin-top: 22.25px;  }
}