.form__input {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  width: 100%;
  padding: 0 0 13px 0;
  max-width: 358px;
  top: -18px;
  bottom: 11px;
}
